
.py-100{
  padding: 100px 20px;
}
.pt-100{
  padding-top: 100px;
}
.lite-bg{
  background-color: rgb(28, 0, 92);
  opacity: .5; 
}
:root {
  --color-1: #3b1e54; /* Dark Purple */
  --color-2: #9b7ebd; /* Light Purple */
  --color-3: #d4bee4; /* Light Lavender */
  --color-4: #eeeeee; /* Very Light Gray */
}


/* hero section  */
h1{
  font-size: 55px;
}
.hero {
  background-image: url('../assets/hero-bg.jpeg') ;
  background-size: cover ;
  background-position: center center;
  color: white;
  overflow: hidden;
}
.hero::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgb(28, 0, 92);
  opacity: .8;
  left: 0;
  top: 0;

}


  /* search bar  */

  .search-bar select{
    border-color: #8080804d;
  }
/* info section  */
.image-div img{
  width: 550px;
    height: 360px;
  object-fit: cover;
}

  /* conference city  */

  /* city list  */
  .city-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

.city-list li {
    list-style: none;
    margin: 5px 0;
    position: relative;
  }
  .city-list li::before{
    display: inline-block;
    content: "";
    background-image: url('../assets/pin.png');
    background-size: contain;
    height: 16px;
    width: 16px;
    margin-right: 10px;
    transform: translateY(2px);
  }



  .list-box{
    background-color: #ccdcff44;
  }

  .page-item.active .page-link {
    background-color: #007bff;
    border-color: #0033a0;
    color: white;
}

/* conferencs */

.conference-list{
  background-color: #e5ebf4;
}


  /* calendar  */


  .calendar-grid{
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    font-size: 18px;
  }
  .calendar-grid li{
    background-color: #116a9f;
    color: white;
    cursor: pointer;
    transition: all .3s ease-in-out;
  }

  .calendar-grid li:hover{
background-color: #0033a0;
  }


  /* topic */
  .topics {
    background-color: #e5ebf4;
  }
  .topics .container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .topic-div .topic{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
    height: 400px;
    overflow-y: scroll;
  }
  .topic-div h2, .short-topic-div h2{
    font-size: 22px;
    background-color: #0033a0;
    color: white;
    line-height: 2;
  }

  .short-toipic-div{

  }

  .topic li{
    list-style-type: circle;
    font-size: 16px;
    font-weight: 500;
  }

  /* .topic li::before{
    display: inline-block;
    content: "";
    background-image: url('../assets/check-mark.png');
    background-size: contain;
    height: 16px;
    width: 16px;
    margin-right: 10px;
    transform: translateY(2px);
  } */