@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

h1,h2{
  font-family:  "Archivo Black", serif;
}
.py-100{
  padding: 100px 20px;
}
.pt-100{
  padding-top: 100px;
}
.lite-bg{
  background-color: rgb(28, 0, 92);
  opacity: .5; 
}

.gradient-bg, .list-group-item.active{
  background:  linear-gradient(217deg, #082f85, rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, #ab2037, rgb(105 132 171 / 73%) 70.71%), linear-gradient(336deg, #082f85, rgb(0 0 255 / 73%) 70.71%);
  color: white;
  border:none;
}

/* hero section  */
h1{
  font-size: 55px;
  font-weight: 600;
}
.hero {
  background-image: url('../assets/hero-bg.jpeg') ;
  background-size: cover ;
  background-position: center center;
  color: white;
  overflow: hidden;
}
.hero::before{
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgb(28, 0, 92);
  opacity: .8;
  left: 0;
  top: 0;

}
.hero button, .info button{
  background-color: #ab2032;
  border:none;
}


  /* conference country  */
  .list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: 0;
}


  .list-group-item:last-child {
    margin-bottom: 0;
    border-top-right-radius: .25rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


  .city-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

.city-list li {
    list-style: none;
    margin: 5px 0;
  }
  .city-list li::before{
    display: inline-block;
    content: "";
    background-image: url('../assets/pin.png');
    background-size: contain;
    height: 16px;
    width: 16px;
    margin-right: 10px;
    transform: translateY(2px);
  }



  .list-box{
    background-color: #f1f6ff;
  }
/* pagination  */
  .page-item.active .page-link {
    background:  linear-gradient(217deg, #082f85, rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, #ab2037, rgb(105 132 171 / 73%) 70.71%), linear-gradient(336deg, #082f85, rgb(0 0 255 / 73%) 70.71%);
    border-color: #0033a0;
    color: white;
}

/* conferencs */

.conference-list{
  background-color: #e5ebf4;
}


  /* calendar  */
  .calendar{
    background-image: url("../assets/bg-2.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .calendar::before{
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
   background-color: #082f85;
    opacity: .8;
  }

  .calendar p{
    background:  white;
    color: #ab2032;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease-in-out;
    position: relative;
    /* padding-left: 50px; */
  }

  .calendar p:hover{
background-color: #ab2032;
color: white;
  }

  .calendar p::before{
    content: "";
    height: 34px;
    width: 34px;
    display: inline-block;
    margin-right: 10px;
    background-image: url('../assets/timetable.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ab2032;
    border-radius: 100%;
  }
  /* .calendar p:hover::before{
    background-color: #082f85;
  } */


  /* topic */
  .topics {
    background-color: #e5ebf4;
  }

   .topic-div .topic{
    max-height: 312px;
    overflow-y: auto;
  } 

  .topic-div h2{
    font-size: 22px;
    color: white;
    line-height: 2;
  }

  .topic li{
    list-style-type: circle;
    font-size: 16px;
    font-weight: 500;
  }

/* flag  */
.flags img{
  width: 50%;
}

.flags .container .row div div{
      background-color: #ccdcff44;
}

.flags p{
  font-size: 20px;
  font-weight: 500;
}


  /* info section  */
.image-div img{
  width: 100%;
    height: 360px;
  object-fit: cover;
}


/* mobile css  */
@media (max-width: 767px){
  .py-100{
    padding: 30px 10px;
  }
  .pt-100{
    padding-top: 30px;
  }
h1{
  font-size: 35px;
}

/* city list  */

.city-section .flex-row{
  flex-wrap: wrap;
}
.list-group-item {
  width: 50%;
}


/* info  */
.image-div img {
  width: 287px;
  height: 100%;
}
}

/* scroll bar designs  */

.topic-div .topic::-webkit-scrollbar {
  width: 10px;
}

.topic-div .topic::-webkit-scrollbar-thumb {
  background: #ab2037c7;
  border-radius: 5px;
}

.topic-div .topic::-webkit-scrollbar-thumb:hover {
  background: #ab2032;
}


.topic-div .topic::-webkit-scrollbar-track {
  background: #f1f1f1;
}
