form label{
    font-size: 16px;
    font-weight: 500;
}

form h4{
   font-weight: 700;
   transform: translateY(-35px);
}

.form-section .container{
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
form input, form select{
    height: 45px !important;
}
