@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

h1,h2,h3{
    font-family:  "Archivo Black", serif;
  }
  h1{
    font-size: 55px;
    font-weight: 600;
  }
  h3{
    font-size: 20px;
  }
  .py-100{
    padding: 100px 20px;
  }
  .pt-100{
    padding-top: 100px;
  }

  /* buttons  */

.red-btn{
    background-color: #ab2032;
    border:none;
    font-size: 18px;
  
  }

  .border-btn{
border-color: #ab2032;
color: #ab2032;
  }

  .border-btn:hover{
    background-color: #ab2032;
    color: white;
  }
/* background colors  */

  .gradient-bg{
    background:  linear-gradient(217deg, #082f85, rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, #ab2037, rgb(105 132 171 / 73%) 70.71%), linear-gradient(336deg, #082f85, rgb(0 0 255 / 73%) 70.71%);
    color: white;
    border:none;
    color: white;
  }

  .blue-bg{
    background-color: #32196c;
    color: white;
  }



  @media (max-width: 767px){
    .py-100{
        padding: 30px 10px;
      }
    .pt-100{
        padding-top: 30px;
      }
    h1{
      font-size: 35px;
    }

}

/* header styles  */
.navbar-nav a{
    font-size: 18px;
    font-weight: 400;
}

.navbar-nav .active a{
    color: #ab2032 !important;
}

/* footer styles  */

footer li{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.8;
}
.social-icons{
    gap: 20px;
}

.social-icons a i{
    font-size: 25px;
    color: white;
    transition: all .3s ease-in;
}
.social-icons a i:hover{
    color: #ab2032;
}

footer .contact p i{
    font-size: 20px;
}


/* footer h5{
    display: inline;
    padding-bottom: 5px;
    border-bottom:2px solid #ab2032;
    margin-bottom: 10px;
} */