@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


h1,h2{
    font-family:  "Archivo Black", serif;
  }
  h1{
    font-size: 55px;
    font-weight: 600;
  }
  
  .py-100{
    padding: 100px 20px;
  }
  .pt-100{
    padding-top: 100px;
  }

  /* buttons  */

.red-btn{
    background-color: #ab2032;
    border:none;
    font-size: 18px;
  
  }

  .border-btn{
border-color: #ab2032;
color: #ab2032;
  }

  .border-btn:hover{
    background-color: #ab2032;
    color: white;
  }


  /* text color  */

.red-color{
  color: #ab2032;
}



/* background colors  */

  .gradient-bg{
    background:  linear-gradient(217deg, #082f85, rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, #ab2037, rgb(105 132 171 / 73%) 70.71%), linear-gradient(336deg, #082f85, rgb(0 0 255 / 73%) 70.71%);
    color: white;
    border:none;
    color: white;
  }

  .blue-bg{
    background-color: #32196c;
    color: white;
  }
  .red-bg{
    background-color: #ab2032;
  }
  .light-red-bg{
background-color: #faf4f5;
  }
  
  .gray-bg{
    background-color: #f7f7f7;
  }

/* header styles  */

.navbar-nav a{
    font-size: 18px;
    font-weight: 400;
}

.navbar-nav .active a{
    color: #ab2032 !important;
}


/* footer styles  */

.social-icons a:hover i{
    color: #082f85;
}

footer h6{
    font-size: 20px;
    position: relative;
}

footer h6::before{
    display: inline-block;
    content: "";
    background-color: #ab2032;
    width: 40px;
    height: 3px;
    position: absolute;
    bottom: -10px;
    z-index: 1;

}

.copyright{
    border-top: 2px solid rgb(255 255 255 / 10%);
}



@media (max-width: 767px){
    .py-100{
        padding: 30px 10px;
      }
    .pt-100{
        padding-top: 30px;
      }
    h1{
      font-size: 33px;
    }
    h2{
        font-size: 30px;
      }

}


  /* months  */
  .months{
    overflow-x: auto;  
    height: 45px;
   }
   .months li a{
       text-decoration: none;
       color: #ab2032;
       padding: 8px 10px;
       border: 1px solid #ab2032;
       transition: all .3s ease-in-out;
   }
   
   .months li a:hover{
       color: #ffff;
       background-color: #ab2032;
       transition: all .3s ease-in-out;
   }

   /* pagination  */
.page-item.active .page-link{
  background-color: #ab2032;
  border: none;
  }
  