




/* hero section  */

.hero button{
  padding: 15px 30px;
}


/* conferencs */

.conference-list,.list-box,  .topics,.flags .container .row div div{
  background-color: #f7f7f7;
}


/* topic buttons  */

.topic-btns-parent li{
  height: 75px;
}
.topic-btns-parent li a{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  color: white;
  background:  #082f85;
  transition: all .3s ease-in-out;
}

.topic-btns-parent li a:hover{
  background:  #ab2032;

}


  /* conference country  */
  .list-group-item.active{
    background:  linear-gradient(217deg, #082f85, rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, #ab2037, rgb(105 132 171 / 73%) 70.71%), linear-gradient(336deg, #082f85, rgb(0 0 255 / 73%) 70.71%);
    color: white;
    border:none;
  }

  .list-group-item:first-child {
    border-top-left-radius: .25rem;
    border-top-right-radius: 0;
}


  .list-group-item:last-child {
    margin-bottom: 0;
    border-top-right-radius: .25rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}


  .city-list{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

.city-list li {
    list-style: none;
    margin: 5px 0;
  }
  .city-list li::before{
    display: inline-block;
    content: "";
    background-image: url('../images/pin.png');
    background-size: contain;
    height: 16px;
    width: 16px;
    margin-right: 10px;
    transform: translateY(2px);
  }



/* pagination  */
  .page-item.active .page-link {
    background:  linear-gradient(217deg, #082f85, rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, #ab2037, rgb(105 132 171 / 73%) 70.71%), linear-gradient(336deg, #082f85, rgb(0 0 255 / 73%) 70.71%);
    border-color: #0033a0;
    color: white;
}



  /* calendar  */

  .calendar p{
    background:  white;
    color: #ab2032;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: all .3s ease-in-out;
    position: relative;
  }

  .calendar p:hover{
background-color: #ab2032;
color: white;
  }

  .calendar p::before{
    content: "";
    height: 34px;
    width: 34px;
    display: inline-block;
    margin-right: 10px;
    background-image: url('../images/timetable.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #ab2032;
    border-radius: 100%;
  }



  /* topic */


   .topic-div .topic{
    background-color: white;
    max-height: 312px;
    overflow-y: auto;
  } 

  .topic-div h2{
    font-size: 22px;
    color: white;
    line-height: 2;
  }

  .topic li{
    list-style-type: circle;
    font-size: 16px;
    font-weight: 500;
  }



/* flag  */

.flags img{
  width: 30%;
}

.flags p{
  font-size: 20px;
  font-weight: 500;
}


  /* info section  */

.image-div img{
  width: 100%;
  height: 360px;
  object-fit: cover;
}



/* mobile css  */
@media (max-width: 767px){


/* city list  */

.city-section .flex-row{
  flex-wrap: wrap;
}
.list-group-item {
  width: 50%;
}


/* info  */
.image-div img {
  width: 287px;
  height: 100%;
}
}


/* scroll bar designs  */

.topic-div .topic::-webkit-scrollbar {
  width: 10px;
}

.topic-div .topic::-webkit-scrollbar-thumb {
  background: #ab2037c7;
  border-radius: 5px;
}

.topic-div .topic::-webkit-scrollbar-thumb:hover {
  background: #ab2032;
}


.topic-div .topic::-webkit-scrollbar-track {
  background: #f1f1f1;
}
