
  

  /* conference list  */

  /* months  */
  /* common css  */

/* single conference  */

h3{
    font-size: 25px;
}

.conferences li{
    border-bottom: 1px solid #ddd;
}

.conferences li:last-child {
    border-bottom: none; 
  }

.event-place-time i{
color: #ab2032;
}
.organized-by span{
    font-weight: 500;
}
.organized-by{
    font-weight: 400;
    display:block;
}


/* pagination  */
 /* common css  */

