
  

  /* conference list  */

  /* months  */
.months{
 overflow-x: auto;  
 height: 45px;
}
.months li a{
    text-decoration: none;
    color: #ab2032;
    padding: 8px 10px;
border: 1px solid #ab2032;
transition: all .3s ease-in-out;
}

.months li a:hover{
    color: #ffff;
    background-color: #ab2032;
    transition: all .3s ease-in-out;
}
/* single conference  */

h3{
    font-size: 25px;
}

.conferences li{
    border-bottom: 1px solid #ddd;
}

.conferences li:last-child {
    border-bottom: none; 
  }

.event-place-time i{
color: #ab2032;
}
.organized-by span{
    font-weight: 500;
}
.organized-by{
    font-weight: 400;
    display:block;
}


/* pagination  */
.page-item.active .page-link{
background-color: #ab2032;
border: none;
}

